{% extends 'main.html' %}

{% block contenu %}
    <div class= "col-md-6">
        <h4 class=" alert alert-info">Supprimer type</h4>
        <div class="card card-body">
            <p>Voulez vous supprimer ce type ?</p>
            <form action="{% url 'supprime_type' item.id %}" method="post">
                {% csrf_token %}
                <br>
                <a class="btn-warning" href="{% url 'type' %}"></a>
                <input class="btn btn-danger" type="submit" name="Confirmer">
            </form>
        </div>
    </div>
{% endblock %}