{% extends 'main.html' %}

{% block contenu %}
{% include 'main.html' %}
<div id="content", name='content', class="main">
    <br>
    <div class="row">
        <div class=" col-md-12">
            <h4 class=" alert alert-info">Les Matieres</h4>
            <hr>
            <div class=" card card-body">
                <table class="table tble-sm">
                    <tr>
                        <th>ID</th>
                        <th>Libelle</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>

                    {% for matiere in matieres %}
                    <tr>
                         <th>{{matiere.id}}</th>
                         <th>{{matiere.libelle}}</th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-info" href="{% url 'modif_matiere' matiere.id %}">Modifier</a></th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-danger" href="{% url 'supprime_matiere' matiere.id %}">Supprimer</a></th>
                    </tr>
                    {% endfor %}
                </table>
                <div style="width: auto; margin: 0 auto;">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajout_matiere' %}">Ajouter une Matiere</a>
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
