{% extends 'base.html' %}

{% block contenu %}
{% include 'main.html' %}
<div id="content", name='content', class="main">
    <br>
    <div class="row">
        <div class=" col-md-12">
            <h4 class=" alert alert-info">Les Filieres</h4>
            <hr>
            <div class=" card card-body">
                <table class="table tble-sm">
                    <tr>
                        <th>ID</th>
                        <th>Libelle</th>
                        <th style="width: 10%;">Modifier</th>
                        <th style="width: 10%;">Supprimer</th>
                    </tr>
                    {% for filiere in filieres %}
                    <tr>
                         <th>{{filiere.id}}</th>
                         <th>{{filiere.libelle}}</th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-info" href="{% url 'modif_filiere' filiere.id %}">Modifier</a></th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-danger" href="{% url 'supprime_filiere' filiere.id %}">Supprimer</a></th>
                    </tr>
                    {% endfor %}
                </table>
                <div style="width: auto; margin: 0 auto;">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajout_filiere' %}">Ajouter une Filiere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
