{% extends 'main.html' %}

{% block contenu %}
     <div class="row justify-content-center">
        <div class="col-md-4">
            <div class=""style="margin-top: 100px;">
                <div class="card mt-3 shadow">
                    <h4 class=" alert alert-info">Supprimer matiere de semestre</h4>
                    <div class="card card-body">
                        <p>Voulez vous supprimer cette matiere de semestre ?</p>
                        <form action="{% url 'supprime_matiere_semestre' item.id %}" method="post">
                            {% csrf_token %}
                            <br>
                            <a class="btn-warning" href="{% url 'matiere_semestre' %}"></a>
                            <input class="btn btn-danger" type="submit" name="Confirmer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}