{% extends 'main.html' %}

{% block contenu %}
{% include 'main.html' %}
<div id="content", name='content', class="main">
    <br>
    <div class="row">
        <div class=" col-md-12">
            <h4 class=" alert alert-info">Les Enseignants  et Matires</h4>
            <hr>
            <div class=" card card-body">
                <table class="table tble-sm">
                    <tr>
                        <th>ID</th>
                        <th>Matire</th>
                        <th>Enseignant</th>
                        <th style="width: 10%;">Modifier</th>
                        <th style="width: 10%;">Supprimer</th>
                    </tr>
                    {% for enseignant_matiere in enseignant_matieres %}
                    <tr>
                         <th>{{enseignant_matiere.id}}</th>
                         <th>{{enseignant_matiere.id_Matiere}}</th>
                         <th>{{enseignant_matiere.id_Enseignant}}</th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-info" href="{% url 'modif_enseignant_matiere' enseignant_matiere.id %}">Modifier</a></th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-danger" href="{% url 'supprime_enseignant_matiere' enseignant_matiere.id %}">Supprimer</a></th>
                    </tr>
                    {% endfor %}
                </table>
                <div style="width: auto; margin: 0 auto;">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajout_enseignant_matiere' %}">Ajouter un Enseignant Matiere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
