{% extends 'main.html' %}

{% block contenu %}
{% include 'main.html' %}
<div id="content", name='content', class="main">
    <br>
    <div class="row justify-content-center">
        <div class=" col-md-12">
            <h4 class=" alert alert-info shadow">Les Cours</h4>
            <hr>
             <div class="card mt-3 shadow">
            <div class=" card card-body">
                <table class="table tble-sm">
                    <tr>
                        <th>ID</th>
                        <th>Enseignant</th>
                        <th>Filiere</th>
                        <th>Salle</th>
                        <th>Matiere</th>
                        <th>Groupe</th>
                        <th>Type</th>
                        <th>Debut</th>
                        <th>Fin</th>
                        <th style="width: 10%;">Modifier</th>
                        <th style="width: 10%;">Supprimer</th>
                    </tr>
                    {% for cours in courss %}
                    <tr>
                         <th>{{cours.id}}</th>
                         <th>{{cours.Enseignant}}</th>
                         <th>{{cours.Filiere}}</th>
                         <th>{{cours.Salle}}</th>
                         <th>{{cours.Matiere}}</th>
                         <th>{{cours.Groupe}}</th>
                         <th>{{cours.Type}}</th>
                         <th>{{cours.debut}}</th>
                         <th>{{cours.fin}}</th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-info" href="{% url 'modif_cours' cours.id %}">Modifier</a></th>
                         <th style="width: 10%;"><a class="btn btn-sm btn-danger" href="{% url 'supprime_cours' cours.id %}">Supprimer</a></th>
                    </tr>
                    {% endfor %}
                </table>
                <div style="width: auto; margin: 0 auto;">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajout_cours' %}">Ajouter uncours</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
